<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314600248702-2lol32h0chhq17fjtklhgi78vrg7fcuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314600248702-2lol32h0chhq17fjtklhgi78vrg7fcuh</string>
	<key>API_KEY</key>
	<string>AIzaSyBH5GOdbWdr5XCKaI7Do2vnHDvlz43JkvU</string>
	<key>GCM_SENDER_ID</key>
	<string>314600248702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmacyInPocket</string>
	<key>PROJECT_ID</key>
	<string>pharmacy-in-pocket</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmacy-in-pocket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314600248702:ios:afb9758d02783206dd0f2f</string>
</dict>
</plist>